@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image: url('https://c4.wallpaperflare.com/wallpaper/237/854/401/carros-wallpaper-preview.jpg'); background-repeat:no-repeat;  background-size:cover;">
    <div class="text-center">
        <h1 class="display-4 text-light display">Bem-Vindo</h1>
        <p class="text-light display-5 display">A Concessonária AG</p>
    </div>
</body>

