@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image: url('https://cdn.acritica.net/upload/images/showroom-da-wish.jpg'); background-repeat:no-repeat;  background-size:cover;">
    <div class="text-center">
        <h1 style="color:black; font-weight: bold; background:white; " class="opacity-75 display-4 display">Concessonária Vilanova</h1>
        
    </div>
</body>

